{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "watermarks": {
      "statements": [80, 100],
      "branches": [80, 100],
      "functions": [80, 100],
      "lines": [80, 100]
    }
}
