{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "statements": 76,
    "branches": 61,
    "functions": 85,
    "lines": 79,
    "watermarks": {
      "statements": [80, 100],
      "branches": [80, 100],
      "functions": [80, 100],
      "lines": [80, 100]
    }
}
