language: node_js
node_js:
  - 10
  - 12
  - 14
  - 16
  # TODO - 18 when it is released
env:
  - TYPESCRIPT_VERSION=3
  - TYPESCRIPT_VERSION=4
notifications:
  email: false
script:
  - npm install --development typescript@$TYPESCRIPT_VERSION
  - npm test
after_success:
  - npm run report-coverage-to-coveralls
